<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
    Greetings from PHP version <?php print phpversion(); ?> <br />
    <b>Installed via Ansible</b>

    <hr>

    <?php print phpInfo() ?>
</body>
</html>

